body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Centralization occurred due to the align-items, jutify-content e height no body */
}

.widget {
    position: relative;
    background-color: #FECD02;
    border-radius: 65px;
    height: 400px;
    width: 400px;
}

.adress {
    color: #272000;
    font-size: 26px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 600;
}

.call {
    background-color: #010103;
    width: 380px;
    height: 110px;
    border-radius: 50px;
    margin: auto;
    display: flex;
    align-items: center;
}

.taxi {
    font-weight: bold;
    color: #FECD02;
    margin: auto;
    font-size: 46px;
    display: inline-block;
}

.location {
    color: #010103;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    padding-left: 60px;
}

.icon1 {
    position: absolute;
    top: 80px;
    right: 60px;
    height: 140px;
}

.icon2 {
    position: absolute;
    top: 40px;
    left: 38px;
    height: 20px;
}


